.back>p{
    font-family: "コーポレート明朝 ver2" ;
}
.backg>form>button{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px 70px;
    display: block;
    background: linear-gradient(rgba(255, 179, 37, 0.918),#fff01e);
    border-radius: 10px;
    
}
.backg>select{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.create{
    font-size: 20px;
    color: #ffa601ad;
    text-align: right;
    font-family: "コーポレート明朝 ver2" ;
}