<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='ans.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <title>cook_with</title>
</head>
<body>
    <p>{{get1}}</p>
    <p>{{get2}}</p>
    <p>{{get3}}</p>
    <button type="submit"  onclick=location.href="{{ url_for('home') }}">ホームに戻る</button>
</body>
</html>