<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <title>cook_with</title>
</head>
<body>
    <div class = "back" style="background: url(../static/back.jpeg) 0% 0%">
        <img src="{{ url_for('static', filename='cook_with.png') }}" style="width: 200px;">
        <p style="font-size: 50px;">COOK_WITH</p>
        <p style="font-size: 25px;">欲しい栄養素が摂れる料理がすぐわかる！料理検索サイト</p>
    </div>
    <div class = "backg" style="background: url(../static/backg.jpeg) 0% 0%">
        <p>欲しい栄養素を選択してください（最大３項目まで）</p>
        <form action="/ans" method="POST">
            <select name="choose1" size="1" id="select1">
                <option value="0"selected>欲しい栄養素を選択してください</option>
                <option value="炭水化物">炭水化物</option>
                <option value="脂質">脂質</option>
                <option value="たんぱく質">たんぱく質</option>
                <option value="無機質">無機質</option>
                <option value="ビタミンA">ビタミンA</option>
                <option value="ビタミンB1">ビタミンB1</option>
                <option value="ビタミンB2">ビタミンB2</option>
                <option value="ビタミンB6">ビタミンB6</option>
                <option value="ビタミンB12">ビタミンB12</option>
                <option value="ビタミンC">ビタミンC</option>
                <option value="ビタミンD">ビタミンD</option>
                <option value="ビタミンE">ビタミンE</option>
                <option value="ナイアシン">ナイアシン</option>
                <option value="パントテン酸">パントテン酸</option>
                <option value="葉酸">葉酸</option>
                <option value="ビオチン">ビオチン</option>
                <option value="鉄分">鉄分</option>
            </select>
            <select name="choose2" size="1" id="select2">
                <option value="0"selected>欲しい栄養素を選択してください</option>
                <option value="炭水化物">炭水化物</option>
                <option value="脂質">脂質</option>
                <option value="たんぱく質">たんぱく質</option>
                <option value="無機質">無機質</option>
                <option value="ビタミンA">ビタミンA</option>
                <option value="ビタミンB1">ビタミンB1</option>
                <option value="ビタミンB2">ビタミンB2</option>
                <option value="ビタミンB6">ビタミンB6</option>
                <option value="ビタミンB12">ビタミンB12</option>
                <option value="ビタミンC">ビタミンC</option>
                <option value="ビタミンD">ビタミンD</option>
                <option value="ビタミンE">ビタミンE</option>
                <option value="ナイアシン">ナイアシン</option>
                <option value="パントテン酸">パントテン酸</option>
                <option value="葉酸">葉酸</option>
                <option value="ビオチン">ビオチン</option>
                <option value="鉄分">鉄分</option>
            </select>
            <select name="choose3" size="1" id="select3">
                <option value="0"selected>欲しい栄養素を選択してください</option>
                <option value="炭水化物">炭水化物</option>
                <option value="脂質">脂質</option>
                <option value="たんぱく質">たんぱく質</option>
                <option value="無機質">無機質</option>
                <option value="ビタミンA">ビタミンA</option>
                <option value="ビタミンB1">ビタミンB1</option>
                <option value="ビタミンB2">ビタミンB2</option>
                <option value="ビタミンB6">ビタミンB6</option>
                <option value="ビタミンB12">ビタミンB12</option>
                <option value="ビタミンC">ビタミンC</option>
                <option value="ビタミンD">ビタミンD</option>
                <option value="ビタミンE">ビタミンE</option>
                <option value="ナイアシン">ナイアシン</option>
                <option value="パントテン酸">パントテン酸</option>
                <option value="葉酸">葉酸</option>
                <option value="ビオチン">ビオチン</option>
                <option value="鉄分">鉄分</option>
            </select>
        <button type="submit"  onclick=location.href="{{ url_for('ans') }}" style="font-size: 20px; color: rgb(0, 0, 0);">検索</button>
    </div>
</form>
    <div class="explanation">
        <p style="font-size: 20px;">各栄養素の大まかな効果</p>
        <ul>
            <li>ビタミンA&#149;&#149;&#149;目や皮膚の粘膜を健康に保ったり、抵抗力を強めたりする働きがあります。</li>
            <li>ビタミンB1&#149;&#149;&#149;解糖系やクエン酸回路のエネルギー代謝の一部で補酵素として働きます。</li>
            <li>ビタミンB2&#149;&#149;&#149;ビタミンB2は特に脂質の代謝を助け、皮膚や粘膜、髪、爪などの細胞の再生に役立ちます。</li>
            <li>ビタミンB6&#149;&#149;&#149;タンパク質の分解を助ける働きがあります。また、ホルモンのバランスを整える働きがあり、赤血球の合成にも役立つため、月経前症候群 (PMS)の症状をやわらげる働きがあるといわれています。</li>
            <li>ビタミンB12&#149;&#149;&#149;神経および血液細胞を健康に保ち、全細胞の遺伝物質であるDNAの生成を助ける栄養素です。</li>
            <li>ビタミンC&#149;&#149;&#149;壊血病を防ぐ効果があります。また、毛細血管・歯・軟骨などを正常に保つ働きがあるほか、皮膚のメラニン色素の生成を抑え、日焼けを防ぐ作用や、ストレスやかぜなどの病気に対する抵抗力を強める働きがあります。</li>
            <li>ビタミンD&#149;&#149;&#149;正常な骨格と歯の発育促進、神経伝達や筋肉の収縮などを正常に行う働きがあります。</li>
            <li>ビタミンE&#149;&#149;&#149;体内の脂質の酸化を防ぎます。また、動脈硬化や血栓の予防、血圧の低下、LDL(悪玉)コレステロールの減少、細胞膜を健全に保つなどの働きがあります。</li>
            <li>葉酸&#149;&#149;&#149;DNAやRNAなどの核酸やタンパク質の合成を促進し、細胞の生産や再生を助けます。特に胎児の正常な発育にとって重要な栄養素です。</li>
        </ul>
    </div>
    <nobr><table border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><a href="https://www.free-counter.jp/"><img src="https://www.f-counter.net/ani1/48/1656654250/" alt="アクセスカウンター" border="0" style="margin:0px; padding:0px; border:0px; vertical-align:bottom"></a></td>
        <td><a href="https://www.free-counter.jp/"><img src="https://www.f-counter.net/ani2/48/1656654250/" alt="アクセスカウンター" border="0" style="margin:0px; padding:0px; border:0px; vertical-align:bottom"></a></td></tr></tbody></table></nobr>
    <p class="create">青山祭展示作品&nbsp;Created by Ryoka Hamochi & Ritsuki Ishikawa</p>
        
   
   
</body>
</html>